{{template "base" .}}

{{define "title"}}Reservation page{{end}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Reservation page!</h1>
            </div>
        </div>
    </div>
{{end}}