{{template "base" .}}

{{define "title"}}Standard room{{end}}

{{define "styles"}}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs5.min.css">
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <img src="/static/images/room-images/standard.png" class="img-fluid img-thumbnail mx-auto d-block w-50"
                     alt="Standard Room">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Standard Room</h1>
                <p>Welcome to Harbor View Hotel, where breathtaking vistas meet unparalleled comfort. Nestled along the
                    serene coastline, our hotel offers a perfect blend of luxury and relaxation, making it an ideal
                    getaway for families, couples, and solo travelers alike.</p>
                <p><b>Accommodations:</b> Each of our elegantly designed rooms features panoramic views of the harbor,
                    allowing you to wake up to the gentle sound of waves and the sight of stunning sunsets. With modern
                    amenities, plush furnishings, and a warm, inviting atmosphere, every stay promises a restful
                    retreat.</p>
                <p><b>Dining:</b> Savor delectable cuisine at our on-site restaurant, where fresh, local ingredients
                    meet culinary artistry. Enjoy a meal on the terrace while taking in the picturesque harbor views, or
                    indulge in room service for a cozy dining experience.</p>
                <p><b>Amenities:</b> Dive into our sparkling infinity pool, unwind at the spa, or explore our fitness
                    center. For those looking to venture out, our hotel is ideally located near local attractions,
                    charming shops, and vibrant nightlife.</p>
                <p><b>Events:</b> Whether planning a romantic wedding, a corporate retreat, or a family reunion, our
                    versatile event spaces are perfect for any occasion. Our dedicated team is here to help you create
                    unforgettable memories.</p>
                <p><b>Experience the Magic:</b> At Harbor View Hotel, every moment is an opportunity to create lasting
                    memories. Book your stay today and immerse yourself in the beauty and tranquility of our coastal
                    paradise.</p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col text-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".modal">Check
                    availability
                </button>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="reservation-modal">
        <form action="reservation-make" method="get" class="needs-validation" novalidate>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Pick reservation dates</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body" id="date-range">

                        <div class="row text-center">
                            <div class="col-6">
                                <input type="text" class="form-control" id="start" name="start_date" required
                                       placeholder="Arrival" autocomplete="off">
                                <div class="invalid-feedback">
                                    Please provide a valid start date.
                                </div>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="end" name="end_date" required
                                       placeholder="Departure" autocomplete="off">
                                <div class="invalid-feedback">
                                    Please provide a valid end date.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
{{end}}

{{define "scripts"}}
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })

            const dateRange = document.getElementById('date-range');
            new DateRangePicker(dateRange, {
                format: 'yyyy-mm-dd',
                showOnFocus: true,
            });
        })();

    </script>
{{end}}